IS_PROD=False
DB_MODERATION_SERVICE_HOST=moderation_db
DB_MODERATION_SERVICE_PORT=5432
DB_MODERATION_SERVICE_NAME=moderation_service
DB_MODERATION_SERVICE_USER=mod_user
DB_MODERATION_SERVICE_PASSWORD=mod_pass
ECHO=False
CORS_ORIGINS=["*"]
CORS_METHODS=["*"]
CORS_HEADERS=["*"]
JWT_SECRET_KEY=your-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SERVICE_KEY=internal-service-key
B2B_URL=http://b2b:8010
